body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}

nav {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  position: relative;
  margin: 0 20px;
  font-size: 20px;
  margin-bottom: 10px;
}

nav a::after {
  content: "";
  display: block;
  height: 2px;
  background: #efef09;
  color: #efef09;
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}

nav a:hover::after {
  transform: scaleX(1);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 150px;
  background-color: hsla(0, 0%, 21.96%, 1);
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

header img {
  max-height: 100%;
  margin-left: 30px;
}

.container {
  background-color: #f6f6f6;
  border: #000 1px solid;
  display: flex;
  height: auto;
  justify-content: space-between;
  padding: 20px;
}

.text-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 20px;
}

.container h2,
.container p,
.container a {
  flex: 1;
  margin-right: 20px;
  flex-direction: column;
}

.container img {
  width: 30%;

  border-radius: 10px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  margin: 40px;
}

.what-we-do {
  background-color: hsla(0, 0%, 21.96%, 1);
  display: flex;
  gap: 20px;
  padding: 20px;
  height: auto;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.what-we-do i {
  font-size: 50px;
  color: #fff;
  padding-top: 20px;
}

.icon-container:hover,
.what-we-do i:hover {
  color: #efef09;
  transition: ease-in-out 1s;
}

.icon-container {
  color: #f6f6f6;
  flex: 1 1 150px;
  text-align: center;
}

.icon-container p {
  margin-top: 8px;
}

footer {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  gap: 20px;
}
